.container {
  margin-top: 50rem;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: #3742bb;
  color: white;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 1px darken(#ffffff, 10%);
}

.header a {
  color: white;
  text-decoration: none;
}


.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav-container img{
  width: 170px;
  height: 50px;
  margin-top: 0;
  margin-left: 30px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background: #7a60ee;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  bottom: 0;
  position:fixed;
  background: #8b93e4;
  padding: 1rem 0;;
}

body {
	background-image: linear-gradient(45deg, #c3d3db, #a4a1db);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
  padding-top: 7rem;
  padding-bottom: 5rem;
}


.btn {
	background-color: #2A265F;
	border: 12;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}


.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}

	.floating-btn {
		right: 10px;
	}
}
