<div class="container animated  d-flex justify-content-center animated fadeIn" id="contenedor">

    <p-table [value]="listaUsusarios" styleClass="p-datatable-striped-responsive-demo" [scrollable]="true" scrollHeight="450px">
        <ng-template pTemplate="header">
            <tr>
                <th>Cédula</th>
                <th>Nombre de Usuario</th>
                <th>Tipo de Usuario</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.usuarioCedula}}</td>
                <td>{{user.usuarioNombre}}</td>
                <td>{{tipoUsuario(user.usuarioTipo)}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-user>
            <tr>
                <td colspan="3" class="p-text-right">Totals</td>
                <td>{{user.usuarioCedula }}</td>
                <td>{{user.usuarioCedula }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>