<app-navbar-admin></app-navbar-admin>

<br>
<h2 class="text-center">Listado de Usuarios</h2>

<div class="container animated  d-flex justify-content-center animated fadeIn" id="contenedor">

    <p-table #dt [value]="listaUsuarios" [rows]="10" styleClass="p-datatable-responsive-demo" [scrollable]="true"
        scrollHeight="450px" [paginator]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        [(selection)]="selected" dataKey="idUsuario" [rowHover]="true"
        [globalFilterFields]="['usuarioCedula','usuarioNombre','usuarioFechaCreacion']">
        <ng-template pTemplate="caption">
            <div class="container" style="display: grid;">
                <div align="right">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Cédula, Nombre, Fecha" />
                           
                    </span>
                </div>
                <div align="left">
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="crearReporte()"
                        class="p-button-danger p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-filter" (click)="exportSelected()"
                        class="p-button-info p-mr-2" pTooltip="Seleccionados PDF" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-filter" (click)="exportSelectedX()"
                        class="p-button-info p-mr-2" pTooltip="Seleccionados XLS" tooltipPosition="bottom"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="idUsuario">ID
                    <p-sortIcon field="idUsuario"></p-sortIcon>
                </th>
                <th pSortableColumn="usuarioCedula">Cédula
                    <p-sortIcon field="usuarioCedula"></p-sortIcon>
                    <p-columnFilter type="text" field="usuarioCedula" display="menu" class="p-ml-auto"></p-columnFilter>
                </th>
                <th pSortableColumn="usuarioNombre">Nombre de Usuario
                    <p-columnFilter type="text" field="usuarioNombre" display="menu" class="p-ml-auto"></p-columnFilter>
                </th>
                <th pSortableColumn="usuarioTipo">Tipo de Usuario
                    <p-sortIcon field="usuarioTipo"></p-sortIcon>
                </th>
                <th pSortableColumn="usuarioFechaCreacion">Fecha de Creación
                    <p-sortIcon field="usuarioFechaCreacion"></p-sortIcon>
                    <p-columnFilter type="text" field="usuarioFechaCreacion" display="menu" class="p-ml-auto">
                    </p-columnFilter>
                </th>
                <th>Editar / Eliminar</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>{{user.idUsuario}}</td>
                <td>{{user.usuarioCedula}}</td>
                <td>{{user.usuarioNombre}}</td>
                <td>{{tipoUsuario(user.usuarioTipo)}}</td>
                <td>{{user.usuarioFechaCreacion}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-user-edit"
                        class="p-button-rounded p-button-outlined" (click)="showDialogEditar(user)"></button>
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                        (click)="eliminarUsuario(user.idUsuario)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No se encontraron usuarios.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<br>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"  [style]="{width: '50vw'}">
</p-confirmDialog>
<p-dialog header="Editar Usuario" [(visible)]="displayEditar"  [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="card">
        <label for="float-input">Cedula</label>
        <input id="float-input" type="text" pInputText [(ngModel)]="usuarioA.usuarioCedula" disabled>
        <br>
        <div class="form-floating mb-3">
            <label for="floatingInput">Tipo de Usuario</label>
            <p-dropdown [options]="listadoTipo" [(ngModel)]="tipo" placeholder="Seleccione un tipo" optionLabel="tip"
                [style]="{'width': '100%'}" [filter]="true" [showClear]="true" (onChange)="onChange($event)">
            </p-dropdown>
        </div>
        <br>
        <label for="float-input">Nombre Usuario</label>
        <input id="float-input" type="text" pInputText [(ngModel)]="usuarioA.usuarioNombre">
        <br>
        <label for="float-input">Contraseña</label>
        <input id="float-input" type="text" pInputText [(ngModel)]="usuarioA.usuarioContrasenia">
        <br>
        <div class="p-fluid">
            <p-button label="Guardar Cambios" (click)="actualizarUsuario()"></p-button>
        </div>
    </div>
</p-dialog>