/* .Inicio{
    border: 2px solid rgb(0, 140, 255);
    padding: 50px;
    border-bottom-left-radius: 50px 20px;
} */
/*.titulo{
    text-align:center
}*/

.Buton{
    float: right;
    min-width: 50%;
}

.combobox{
    height: 100%;
    width: 100%;
}

.modal-body{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* .container{
    width: 200%;
} */
