<app-navbar-admin></app-navbar-admin>

<br>

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-tittle" style="text-align: center;">Listado Donaciones</h5>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="row">
                            <div class="col container-fluid">
                                <select class="form-select combobox" aria-label="Default select example" (change)="seleccionOpcion($event)">
                                    <option value="" selected hidden>Elija la categoria a buscar</option>
                                    <option value="ALIMENTO">Alimento</option>
                                    <option value="VESTIMENTA">Vestimenta</option>
                                    <option value="MEDICINA">Medicina</option>
                                    <option value="ELECTRONICO">Electronico</option>
                                    <option value="ALL">TODAS</option>
                                </select>
                            </div>
                            <div class="col row">
                                <div class="col Buton">
                                    <button type="button" class="btn btn-outline-primary" (click)="navegar()">Nueva Donacion <i class="pi pi-plus-circle"></i></button>
                                </div>
                                <div class="col Buton">
                                    <button type="button" class="btn btn-outline-primary" (click)="navegarEntrega()">Entregar Donacion <i class="pi pi-send"></i></button>
                                </div>
                            </div>
                            
                            <br>
                        </div>
                        <br>
                        <br>
            
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Cedula</th>
                                            <th>Fecha</th>
                                            <th>Cantidad</th>
                                            <th>Producto</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let donacion of listaDonaciones">
                                            <td>{{donacion.cedulaPersona}}</td>
                                            <td>{{donacion.fechaDonacion}}</td>
                                            <td>{{donacion.cantidad}}</td>
                                            <td>{{donacion.nombreDonacion}}</td>
                                            <td>
                                                <button class="btn btn-info" style="margin-left: 10px"
                                                    (click)="eliminar(donacion)">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </body>
</html>
