#panel{
  align-items: left;
  width: 1200px;
  border: 1px solid black;
}
.prin{
  display: block;
  position: relative;
  height: 45px;
}
.sec{
  display: block;
  position: absolute;
  left: 0px;
}
.ter{
  display: block;
  position: absolute;
  right: 0px;
}