  
  .p {
    margin-bottom: 1.6em;
  }
  
  .container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigatation ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navigatation ul li {
    display: inline-block;
  }
  
  .navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  }
  
  .navigation ul li a:hover {
    background: rgb(65, 62, 62);
  }
  
  .logo {
    width: 210px;
    height: 60px;
    margin-top: 20px;
    margin-left: 35px;
  }

  .btn_guardar{
   align-content: center;
   margin-left: 19%;
  }

  