<div class="cards-list">
    <div class="card" style="width: 19rem; margin-left:19%; margin-right:1%;">
        <div class="card-body">
            <p style="color:white"></p>
            <img src="./assets/img/dash1.png" height="180">
            <p class="titulo"></p>
            <button class="btn btn-primary btn-lg btn-block "> Solicitar Servico </button>
        </div>
    </div>
    <div class="card" style="width: 19rem; margin-left:19%; margin-right:1%;">
        <div class="card-body">
            <p style="color:white"></p>
            <img src="./assets/  " height="180">
            <p class="titulo"></p>
            <button class="btn btn-primary btn-lg btn-block "> Solicitar Servico </button>
        </div>
    </div>
</div>