<app-navbar-super-admin></app-navbar-super-admin>

<div class="container">
    <div class="cards-list">
        <div class="card" style="width: 30rem; margin-left:19%; margin-right:1%;">
            <div class="card-body">
                <h3 style="color:rgb(52, 21, 228)"> Mis actividades</h3>
                <br>
                <img src="./assets/img/dash3.png" height="230">
                <br>
                <button class="btn btn-primary btn-lg btn-block " routerLink='/calendario'> Ir </button>
            </div>
        </div>
        <br>
        <div class="card" style="width: 30rem; margin-left:19%; margin-right:1%;">
            <div class="card-body">
                <h3 style="color:rgb(52, 21, 228)">Registrar actividades </h3>
                <br>
                <img src="./assets/img/dash2.png  " height="250">
                <br>
                <button class="btn btn-primary btn-lg btn-block " routerLink='/actividades'> Ir </button>
            </div>
        </div>
    </div>
</div>