<app-navbar-admin></app-navbar-admin>
<br>
<div class="cont">
    <div class="hijo">
        <div class="grid-container">
            <div class="card">
                <h3 style="color:rgb(52, 21, 228)">Mis actividades</h3>
                <img src="./assets/img/dash3.png" height="250" width="250">
                <button class="btn btn-primary btn-lg btn-block" routerLink='/calendario'> Ir </button>
            </div>
            <div class="card">
                <h3 style="color:rgb(52, 21, 228)">Registrar actividades</h3>
                <img src="./assets/img/dash2.png  " height="250" width="250">
                <button class="btn btn-primary btn-lg btn-block" routerLink='/actividades'> Ir </button>
            </div>
        </div>
    </div>
</div>