<app-navbar-super-admin></app-navbar-super-admin>

<br>
<h1 align="center" style="color: deepskyblue;">Bienvenid@ {{nombreUsuario}}</h1>
<div class="container animated  d-flex justify-content-center animated fadeIn" id="contenedor">

    <br>

    
    <br>

    <img style="width: 700px; height: 700px;"
        src="https://scontent.fgye7-1.fna.fbcdn.net/v/t1.6435-9/84346918_2874862182573758_7319357015279534080_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=e3f864&_nc_ohc=Wv3sfGdBLEEAX9LKfKD&_nc_ht=scontent.fgye7-1.fna&oh=bb0ccd82ef17fb48f2e84c1b528db346&oe=60DEA27A"
        alt="">
</div>