<html>
    <header>
        <app-navbar-admin></app-navbar-admin>
    </header>
    <body>
        <div>
            <br>
            <br>    
            <br>    
            <div class="container animated d-flex justify-content-center animated fadeIn">
                <p-panel class="card">
                    <p-table #dt [value]="entregas" dataKey="id" [rowHover]="true"
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [filterDelay]="0" [globalFilterFields]="['cedula','nombres','productoEntregado','descripcionProducto','cantidadEntregada','fechaEntrega']"(onFilter)="onFilter($event, dt)">

                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                Lista de Donaciones Entregados
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Global search" />
                                </span>

                                <button pButton pRipple type="button" 
                                [ngStyle]="{backgroundColor:'var(--surface-100)'}" style="color: #008cff; margin-left: 10%;"
                                class="p-button-raised p-button-secondary p-button-text" icon="pi pi-file-pdf"
                                (click)="showConfirmacionPDF()"></button>
                               
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="cedula">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                    Cedula
                                        <p-sortIcon field="cedula"></p-sortIcon>
                                        <p-columnFilter type="text" field="cedula" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="nombres">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Nombres
                                        <p-sortIcon field="nombres"></p-sortIcon>
                                        <p-columnFilter type="text" field="nombres" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="productoEntregado">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Productos Entregados
                                        <p-sortIcon field="productoEntregado"></p-sortIcon>
                                        <p-columnFilter type="text" field="productoEntregado" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="descripcionProducto">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Descripcion
                                        <p-sortIcon field="descripcionProducto"></p-sortIcon>
                                        <p-columnFilter type="text" field="descripcionProducto" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="cantidadEntregada">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Cantidad
                                        <p-sortIcon field="cantidadEntregada"></p-sortIcon>
                                        <p-columnFilter type="numeric" field="cantidadEntregada" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="fechaEntrega">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Fecha Entrega
                                        <p-sortIcon field="fechaEntrega"></p-sortIcon>
                                        <p-columnFilter type="date" field="fechaEntrega" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>

                                <th style="width: 8rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-donacion>
                            <tr class="p-selectable-row">
                                
                                <td>
                                    {{donacion.cedula}}
                                </td>
                                <td>
                                    {{donacion.nombres}}
                                </td>
                                <td>
                                    {{donacion.productoEntregado}}
                                </td>
                                <td>
                                    {{donacion.descripcionProducto}}
                                </td>                  
                                <td>
                                     {{donacion.cantidadEntregada}} 

                                </td>
                                <td>
                                    {{donacion.fechaEntrega | date: 'MM/dd/yyyy'}} 

                               </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No se encontro donaciones</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </div>
        </div>
    </body> 
</html>