<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <br />
                        <h3 class="titulo"><b>Donaciones</b></h3>
                        <br />
                        <div class="row">
                            <div class="col">
                                <!--Info Donador-->
                                <label for="exampleIdDonator" class="form-label"><b>Donador:</b></label>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example" name="id_tipo" id="id_tipo" (change)="seleccionOpcion($event)">
                                        <option selected hidden>Seleccione:</option>
                                        <option value="1">Cédula</option>
                                        <option value="2">Anónimo</option>
                                    </select>
                                </div>
                                <div [hidden] = "!mostrar">
                                    
                                    <label for="examplename" class="form-label" id="id_label"><b>C.I.</b></label>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col-md-3 position-relative">
                                                <input id="id_input" type="text" class="form-control inputCedula" [(ngModel)]="cedulaDonador">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="col-md">
                                                <button type="button" class="btn btn-outline-primary" (click)="buscarPersona()"><i class="pi pi-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
        
                                <div class="mb-3">
                                    <label for="examplename" class="form-label"><b>Nombre Donador</b></label>
                                    <input type="text" class="form-control" [(ngModel)]="nombreDonador" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label"><b>Correo Donador</b></label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="correoDonador" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="examplePhone" class="form-label"><b>Teléfono Donador</b></label>
                                    <input type="text" class="form-control" [(ngModel)]="telefonoDonador" disabled>
                                </div>
                                <div class="buton mb-3">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-primary" type="button" (click) = "redigirCrear()" >Registrar <i class="pi pi-user-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">     
                               
                        <div class="contenedor">
                            <!--Datos producto-->
        
                            <form [formGroup]="formProducto">
                                <div class="mb-3">
                                    <label for="examplenameprod" class="form-label"><b>Nombre Producto:</b></label>
                                    <input type="text" class="form-control" formControlName="nombre">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleCategoria" class="form-label"><b>Categoría:</b></label>
                                    <div class="row gx-5">
                                        <div class="col">
                                            <!--Info Categoria-->
                                            <select class="form-select" aria-label="Default select example" formControlName="categoria" (click)="optionCategory($event)">
                                                <option selected hidden>Seleccione:</option>
                                                <option value="ALIMENTO">Alimento</option>
                                                <option value="VESTIMENTA">Vestimenta</option>
                                                <option value="MEDICINA">Medicina</option>
                                                <option value="ELECTRONICO">Electronico</option>
                                                <option value="OTRO">Otro...</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3" [hidden]="!otraCategoria">
                                                <input type="text" class="form-control" formControlName="categoria2" placeholder="Escribelo aqui...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleDescripcion" class="form-label"><b>Descripción:</b></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        formControlName="descripcion"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleUnidades" class="form-label"><b>Unidades:</b></label>
                                    <input type="number" class="form-control" formControlName="unidades">
                                </div>
                            </form>
                            <div class="mb-3">
                                <label for="exampleFecha" class="form-label"><b>Fecha:</b></label>
                                <input type="date" class="form-control" [ngModel] = "fechaActual | date:'yyyy-MM-dd'">
                            </div>
                        </div>        
        
                    </div>
                    <div class="card-footer">
                        <div class="botones">
                            <div class="row">
                                <div class="col d-grid gap-2">
                                    <button class="btn btn-outline-danger btnfooter" type="button" style="margin-left: 10px" (click)="cancelar()">Cancelar <i class="pi pi-times"></i></button>
                                </div>
                                <div class="col d-grid gap-2"> <!--style="margin: 10px"-->
                                    <button class="btn btn-outline-primary btnfooter" type="button"style="margin-left: 10px"(click)="navegarlista()">Inventario <i class="pi pi-book"></i></button>
                                </div>
                                <div class="col d-grid gap-2">
                                    <button class="btn btn-outline-success btnfooter" type="button" style="margin-left: 10px" (click)="registrarProducto()">Guardar <i class="pi pi-check"></i></button>
                                </div>                          
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>    
        </div>         
    </body>
</html>