<div>
    <h2 class="title">Centro Medico</h2>
</div>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">

                <div>
                <app-create></app-create>
                </div>

                <br>
                <br>
                <div class="table">
                    <div class="row header">
                        <div class="cell">ID</div>
                        <div class="cell">Nombre</div>
                        <div class="cell">Direccion</div>
                        <div class="cell">Telefono</div>
                    </div>
                    <div>
                        <div class="row">
                        <div class="cell" data-title="ID">
                            1
                        </div>
                        <div class="cell" data-title="Nombre">
                            Clinica
                        </div>
                        <div class="cell" data-title="Direccion">
                            Centro Historico
                        </div>
                        <div class="cell" data-title="Telefono">
                            0987654321
                        </div>
                        <div class="cell" data-title="Acciones">
                            <input class="btn-update" type="image" src="../../../assets/img/pencil.svg" alt="Delete">
                            <input class="btn-delete" type="image" src="../../../assets/img/delete.svg" alt="Delete">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
