<div>
    <h2 class="title">Centro Medico</h2>
</div>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">

            <div>
                <app-create></app-create>
            </div>

            <br>
            <br>
            <div class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let centro of centros | async">
                        <td>{{centro.id_centro}}</td>
                        <td>{{centro.nombre}}</td>
                        <td>{{centro.direccion}}</td>
                        <td>{{centro.telefono}}</td>
                        <div class="cell" data-title="Acciones">
                            <input (click)="centroEditar(centro.id_centro)" class="btn-update" type="image" src="../../../assets/img/pencil.svg" alt="Delete">
                            <input (click)="deleteCentro(centro.id_centro)" class="btn-delete" type="image" src="../../../assets/img/delete.svg" alt="Delete">
                            <button (click)="centroDetalle(centro.id_centro)" class="btn btn-info" style="margin-left: 10px">Details</button>
                        </div>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>