<app-navbar-admin></app-navbar-admin>
<br><br><br><br>
  <div class="panelFicha">
    <body class="body"> 
      <div class="container">
        <div class="modal-body ">  
          <div class="card">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
            <div class="card-header mb-3">
              <h4>FICHA</h4>
              </div>   
              <form action="">
                <div class="input-group mb-3">
                  <label name="cedulaPersonalbl" id="cedulaPersonalbl" class="cedulaPersonalbl">{{cedula_persona}}</label>
                </div>
                <div class="input-group mb-3">
                  <label name="datosPersonalbl" id="datosPersonalbl" class="datosPersonalbl">{{nombreCompleto}}</label>
                </div>
                <hr>
                <div class="input-group mb-3">
                <p style="margin-left: 70%;"></p>
                <input [(ngModel)]="fichasocieconomicaModel.fechaRegistro"
                name="fechaRegistro" id="fechaRegistro"  style="margin-right: 5%;"
                type="date" class="form-control" [ngModel]="this.fichasocieconomicaModel.fechaRegistro | date:'yyyy-MM-dd'">
              </div>
              <div class="input-group mb-3">
              <textarea [(ngModel)]="fichasocieconomicaModel.situacionEconomica" name="situacionEconomica" id="situacionEconomica" style="margin-left: 5%; margin-right: 5%;" type="text" class="form-control" placeholder="Situación Economica"></textarea>
            </div>
              <div class="input-group mb-3">
                <p style="margin-left: 5%;"> </p>
                <select [(ngModel)]="fichasocieconomicaModel.tipoVivienda"  name="tipoVivienda" id="tipoVivienda" style="margin-right: 2%;" type="text" class="form-control" placeholder="tipoVivienda">
                  <option selected disabled="disabled">Tipo de Vivienda</option>  
                  <option value="Propia">Propia</option>
                    <option value="Arrienda">Arrienda</option>
                  </select>
                  <textarea [(ngModel)]="fichasocieconomicaModel.descripcionVivienda" name="descripcionVivienda" id="descripcionVivienda" style="margin-right: 5%;width: 300px;height: 37px;"type="text" class="form-control" placeholder="Descripción de la Vivienda"></textarea>
              </div>
              <div class="input-group mb-3">
                <p style="margin-left: 5%;"> </p>
                <select [(ngModel)]="fichasocieconomicaModel.seguro" name="Seguro" id="Seguro" style="margin-right: 2%;" type="text" class="form-control" placeholder="Seguro">
                  <option selected disabled="disabled">Cuenta con Seguro</option>  
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
                <input [(ngModel)]="fichasocieconomicaModel.salario" name="Salario" id="Salario" style="margin-right: 2%;"type="text" class="form-control" placeholder="Salario">
                <select [(ngModel)]="fichasocieconomicaModel.nacionalidad" name="Nacionalidad" id="Nacionalidad" style="margin-right: 2%;" type="text" class="form-control" placeholder="Nacionalidad">
                  <option selected disabled="disabled">Nacionalidad</option>  
                  <option *ngFor="let nac of catalogoNacionalidad" value="{{nac}}">{{nac}}</option>
                  </select>
                  <select [(ngModel)]="fichasocieconomicaModel.estadoCivil" name="EstadoCivil" id="EstadoCivil" style="margin-right: 5%;" type="text" class="form-control" placeholder="EstadoCivil">
                    <option selected disabled="disabled">Estado Civil</option>
                    <option  *ngFor="let estc of catalogoEstadoCivil" value="{{estc}}">{{estc}}</option>
                  </select>
              </div>
              <div class="input-group mb-3">
                <p style="margin-left: 5%;"> </p>
                <select [(ngModel)]="fichasocieconomicaModel.discapacidad" name="Discapacidad" id="Discapacidad" style="margin-right: 2%;" type="text" class="form-control" placeholder="Discapacidad">
                  <option selected disabled="disabled">Discapacidad</option>  
                  <option value="true">Si</option>
                    <option value="false">No</option>
                  </select>
                <textarea [(ngModel)]="fichasocieconomicaModel.discapacidadDescipcion" name="descripcionDiscapacidad" id="descripcionDiscapacidad" style="margin-right: 5%;width: 300px;height: 37px;"type="text" class="form-control" placeholder="Descripción de la Discapacidad"></textarea>
              </div>
              <div class="input-group mb-3">
                <p style="margin-left: 5%;"> </p>
                <select [(ngModel)]="fichasocieconomicaModel.adultoMayor" name="AdultoMayor" id="AdultoMayor" style="margin-right: 2%;" type="text" class="form-control" placeholder="AdultoMayor">
                  <option selected disabled="disabled">Adulto Mayor</option>  
                  <option value="true">Si</option>
                    <option value="false">No</option>
                  </select>
                  <select [(ngModel)]="fichasocieconomicaModel.viveConOtros" name="viveOtros" id="viveOtros" style="margin-right: 5%;" type="text" class="form-control" placeholder="viveOtros">
                    <option selected disabled="disabled">Vive con otras personas</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                  </select>
              </div>
              <div class="input-group mb-3">
                <button (click)="addFicha()" style="margin-left: 40%;" type="submit">Guardar y Continuar</button>
              </div> 
            </form>    
          </div>
        </div>
      </div>  
    </body> 
  </div>     
  <br><br><br><br><br><br>




