<div class="modal-header  text-center">
    <h5 class="text-center">Registro de actividades </h5>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label> Fecha registro: </label>
            </div>
            <div class=" col-sm-6 ">
                <label>{{fecha| date :'MMM dd, yyyy HH:mm'}}</label>
                <p style="margin-left: 2%;"> </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label>Hora de inicio :</label>
            </div>
            <div class=" col-sm-6 ">
              <input type="date" id="start" name="trip-start" value="yyyy-MM-dd">
                <p style="margin-left: 2%;">
                </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label>Hora de finalización:</label>
            </div>
            <div class=" col-sm-6 ">
              <input type="date" id="start" name="trip-start" value="yyyy-MM-dd">
                <p style="margin-left: 2%;"> </p>

            </div>
        </div>
        <div class="row ">
            <div class=" col-sm-6 ">
                <label>Tipo de Actividad:</label>
            </div>
            <div class=" col-sm-3">
                <select class="form-select " ria-label="Default select example ">
                  <option *ngFor="let x of _tipoactividad" [value]="x._id">{{x.nombreActividad}}</option>
                  </select>
            </div>
            <div class=" col-sm-2">
            <button class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </button>
          </div>
            <p style="margin-left: 2%;"> </p>
        </div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label>Descripción :</label>
            </div>
            <div class=" col-sm-6 ">
                <textarea type="text" id="descripcion"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modalForm" (click)="modal.dismiss('Cross click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="addActividad()">Guardar</button>
</div>

<ng-template></ng-template>
