<div class="modal-header  text-center">
    <h5 class="text-center">Registro de actividades </h5>
</div>
<div class="modal-body">

    <div>

        <div class="row">
            <div class=" col-sm-6 ">
                <label> Fecha registro: </label>
            </div>
            <div class=" col-sm-6 ">
                <label>{{fecha| date :'MMM dd, yyyy HH:mm'}}</label>
                <p style="margin-left: 2%;"> </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label>Hora de inicio :</label>
            </div>
            <div class=" col-sm-6 ">
                <input type="text" id="horaInicio">
                <p style="margin-left: 2%;">
                </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label>Hora de finalización:</label>
            </div>
            <div class=" col-sm-6 ">
                <input type="text" id="fechaFinalizacion">
                <p style="margin-left: 2%;"> </p>

            </div>
        </div>
        <div class="row ">
            <div class=" col-sm-6 ">
                <label>Actividad:</label>
            </div>
            <div class=" col-sm-6 ">
                <select class="form-select " ria-label="Default select example ">
                                  <option   > Lista de Actividades</option>
                              </select>
            </div>
            <p style="margin-left: 2%;"> </p>

        </div>
        <div class="row">
            <div class=" col-sm-6 ">
                <label>Descripción :</label>
            </div>
            <div class=" col-sm-6 ">
                <textarea type="text" id="descripcion"></textarea>


            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modalForm" (click)="modal.dismiss('Cross click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="addActividad()">Guardar</button>
</div>