<app-navbar-admin></app-navbar-admin>
<br>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<br><br>
<form >
<body class="body">
  <div class="container">
   <div class="modal-body ">  
   <div class="card">
         <div class="card-header mb-3">
          <h4>Lista Documentos</h4>
          </div>
      <div class="container animated  d-flex justify-content-center animated fadeIn" id="contenedor">
        <p-table #dt [rows]="10"  [scrollable]="true" class="table table-responsive" 
            scrollHeight="450px" [paginator]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
            [rowHover]="true" [autoLayout]="true" [responsive]="true"
            [globalFilterFields]="['cedula','nombres','apellidos','direccion','celular','correo','fechaNacimiento','edad']" 
            [value]="datos">
            <ng-template pTemplate="caption">
                   <div style="margin-left: 70%;">
                         </div>
                            <div class="container" style="display: grid;">
                <div align="right">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" style="height: 40px;width: 120px;" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar"/>
                        <button type="button" pButton pRipple icon="pi pi-refresh" 
                        class="p-mr-2" tooltipPosition="bottom" (click)="actualizar()"></button> 
                    </span>
                </div>
            </div>         
            </ng-template>
            <ng-template pTemplate="header">
                <tr >
                    <th pSortableColumn="cedula">Cédula
                        <p-sortIcon field="cedula"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombres">Nombre de Usuario
                    <p-sortIcon field="nombres"></p-sortIcon>
                    </th>
                    <th pSortableColumn="apellidos">Apellido
                    <p-sortIcon field="apellidos"></p-sortIcon>
                    </th>
                    <th pSortableColumn="direccion">Dirección
                    <p-sortIcon field="direccion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="celular">Celular
                    <p-sortIcon field="celular"></p-sortIcon>
                    </th>
                    <th pSortableColumn="correo">Correo
                    <p-sortIcon field="correo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fechaNacimiento">Fecha Nacimiento
                    <p-sortIcon field="fechaNacimiento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="edad">Edad
                    <p-sortIcon field="edad"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ficha">Crear/Editar/Eliminar
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr  class="p-selectable-row">
                    <td>{{user.cedula}}</td>
                    <td>{{user.nombres}}</td>
                    <td>{{user.apellidos}}</td>
                    <td>{{user.direccion}}</td>
                    <td>{{user.celular}}</td>
                    <td>{{user.correo}}</td>
                    <td>{{user.fechaNacimiento}}</td>
                    <td>{{user.edad}}</td>
                    <td>
                        <button type="button" (click)="ingresoCrearDocumento(user.cedula)" pButton pRipple icon="pi pi-plus" 
                         tooltipPosition="bottom" class="p-button-rounded p-button-outlined"></button>
                         <button type="button"  pButton pRipple icon="pi pi-cloud-download" 
                         tooltipPosition="bottom" class="p-button-rounded p-button-outlined" (click)="ingresoDescargaDocumentos(user.cedula)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
      </div>
  </div>   
</div>
</body>
<br><br><br><br>
</form>
