.cell {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .cell {
        display: block;
    }
}

.row .cell {
    font-family: Poppins-Regular;
    font-size: 12px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f2f2f2;
}

.row.header .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
    width: 160px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 360px;
}

.row .cell:nth-child(3) {
    width: 250px;
}

.row .cell:nth-child(4) {
    width: 100px;
}

.row .cell:nth-child(5) {
    width: 90px;
}

.btn-delete,
.btn-update {
    width: 25px;
    padding: 7px;
    border-radius: 50%;
}

.btn-delete:hover {
    width: 32px;
    padding: 3px;
    background-color: #000;
}

.btn-update:hover {
    width: 32px;
    padding: 3px;
    background-color: #000;
}

.false-icon {
    color: #fa0e0e;
  }
  
  .true-icon {
    color: green;
  }

  .false-icon, .true-icon {
    font-size: 28px;
  }
.card{
    border: 1px solid black;
    width: 1000px;
}
.tables{
    border: 1px solid black;
}