<h3>Modificar Información Centro</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit ()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="nombre" required [(ngModel)]="centro.nombre" name="nonbre">
        </div>

        <div class="form-group">
            <label for="name">Direccion</label>
            <input type="text" class="form-control" id="direccion" required [(ngModel)]="centro.direccion" name="direccion">
        </div>

        <div class="form-group">
            <label for="name">Telefono</label>
            <input type="text" class="form-control" id="telefono" required [(ngModel)]="centro.telefono" name="telefono">
        </div>

        <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
</div>