<app-navbar-admin></app-navbar-admin>

<br>
<div class="container1">
  <div class="card">
    <div class="card-header">
      <h5 class="card-tittle">Reportes </h5>
    </div>
    <div class="card-body">
      <br>
      <div>
        <div>
          <div class="row">
            <div class="col">
              <label class="visually-hidden text-center">Cédula:
                <input type="text " class="form-control " placeholder="Buscar.."  [(ngModel)]="filterpost1.cedula" (ngModelChange)="updateFilters()">
              </label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Nombre:
                <input type="text " class="form-control" placeholder="Buscar.."  [(ngModel)]="filterpost1.nombre" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Apellido:
                <input type="text " class="form-control" placeholder="Buscar.."  [(ngModel)]="filterpost1.apellido" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Correo:  <input type="text " class="form-control" placeholder="Buscar.."  [(ngModel)]="filterpost1.correo" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Nacionalidad:  <input type="text " class="form-control" placeholder="Buscar.."  [(ngModel)]="filterpost1.nacionalidad" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="staticEmail2 " class="visually-hidden text-center">Fecha:
                <input type="date" id="start" class="form-control" name="fecha" [(ngModel)]="filterpost1.fecha" (ngModelChange)="updateFilters()">
              </label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Hora de inicio:  <input type="time" class="form-control" name="fecha" [(ngModel)]="filterpost1.hinicio" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Hora de finalizacion:<input type="time" class="form-control" name="fecha" [(ngModel)]="filterpost1.hfin" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center">Actividad<input type="text " class="form-control" name="fecha" placeholder="Buscar.." [(ngModel)]="filterpost1.actividad" (ngModelChange)="updateFilters()"></label>
            </div>
            <div class="col">
              <label for="validationTooltip01 " class="form-label text-center"> Tipo de Actividad<input type="text" class="form-control" name="fecha" placeholder="Buscar.." [(ngModel)]="filterpost1.Tactividad" (ngModelChange)="updateFilters()"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header ">
      <button class="btn btn-outline-info" (click)="showConfirmacionPDF()">
        <i class="pi pi-file-pdf"></i>
        reporte
      </button>
    </div>
    <div class="card-body ">
      <table class="table ">
        <thead class="table ">
          <th scope="col ">CÉDULA</th>
          <th scope="col ">NOMBRES</th>
          <th scope="col ">APELLIDOS</th>
          <th scope="col ">CORREO</th>
          <th scope="col ">NACIONALIDAD</th>
          <th scope="col ">FECHA DE REALIZACION</th>
          <th scope="col ">HORA DE INICIO</th>
          <th scope="col ">HORA DE FINALIZACION</th>
          <th scope="col ">ACTIVIDAD</th>
          <th scope="col ">TIPO DE ACTIVIDAD</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of Actividadview | filter:filterpost ">
            <td>{{item.cedulaPersona.cedula}}</td>
            <td>{{item.cedulaPersona.nombres}}</td>
            <td>{{item.cedulaPersona.apellidos}}</td>
            <td>{{item.cedulaPersona.correo}}</td>
            <td>{{item.cedulaPersona.nacionalidad}}</td>
            <td>{{item.fechaActividad}}</td>
            <td>{{item.horaInicio}}</td>
            <td>{{item.horaFin}}</td>
            <td>{{item.descripcionActividad}}</td>
            <td>{{item.tipoActividad.nombreActividad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer "></div>
  </div>
</div>
