<app-navbar-admin></app-navbar-admin>

<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-tittle">Reportes </h5>
        </div>
        <div class="card-body">
            <form class="row g-3 ">
                <div class="col-md-3 position-relative ">
                    <label class="visually-hidden">Buscar por:</label>
                </div>
                <div class="col-md-3 position-relative">
                    <select class="form-select" [(ngModel)]="busquedaSeleccion" aria-label="Default select example">
                <option value="1">Cedula</option>
                <option value="2">Fecha</option>
                <option value="3">Tipo de actividad</option>
              </select>
                </div>
            </form>
            <br>
            <div *ngIf="selectBusqueda ==1">
                <form class="row g-3 ">
                    <div class="col-md-1 position-relative ">
                        <label for="staticEmail2 " class="visually-hidden">Cedula</label>
                    </div>
                    <div class="col-md-3 position-relative">
                        <input type="text " class="form-control " name="cedula">
                    </div>
                    <a class="col-md-4 position-relative"></a>
                    <div>
                        <input type="date" id="start" class="form-control" name="fecha">
                    </div>
                    <button class="btn btn-outline-info"><i class="pi pi-search"></i>
                Buscar</button>
                </form>
                <br>
                <form class="row g-3 needs-validation " novalidate>
                    <div class="col-md-4 position-relative ">
                        <label for="validationTooltip01 " class="form-label ">Nombre</label>
                        <input type="text " class="form-control" readonly>
                    </div>
                    <div class="col-md-4 position-relative ">
                        <label for="validationTooltip02 " class="form-label ">Apellido</label>
                        <input type="text " class="form-control " id="apellido" readonly>

                    </div>
                    <div class="col-md-4 position-relative ">
                        <label for="validationTooltipUsername " class="form-label ">Correo electronico</label>
                        <div class="input-group has-validation ">
                            <span class="input-group-text " id="validationTooltipUsernamePrepend ">@</span>
                            <input type="email " class="form-control " id="correo" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 position-relative ">
                        <label for="validationTooltip03 " class="form-label ">Telefono</label>
                        <input type="text " class="form-control " id="telefono" readonly>

                    </div>
                    <div class="col-md-6 position-relative ">
                        <label for="validationTooltip04 " class="form-label ">Direccion</label>
                        <input type="text " class="form-control " id="direccion" readonly>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-header">
        </div>
        <div class="card-body">
            <table class="table ">
                <thead class="table">
                    <th scope="col">Hora de Inicio</th>
                    <th scope="col">Hora Fin</th>
                    <th scope="col">Actividad Realizada</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Persona</th>
                    <th scope="col">Observaciones</th>

                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
