<app-navbar-admin></app-navbar-admin>
<br>
<p-messages [(value)]="msgs"></p-messages>

<div class="container animated  d-flex justify-content-center fadeIn">

    <p-dialog header="Datos del Voluntario" [(visible)]="displayV" [modal]="true" [style]="{width: '40vw'}"
        [baseZIndex]="10000">
        <p-messages [(value)]="msgs"></p-messages>
        <p-panel class="card">
            <div class="form-floating mb-3">
                <label class="mb-0">
                    <h6 class="mb-0 text-sm">Cédula</h6>
                </label>
                <input class="form-control" type="text" pKeyFilter="int" maxlength="13" minlength="10"
                    id="usuarioCedula" placeholder="Cédula" [(ngModel)]="cedula" name="cedula" required disabled>
            </div>
            <div class="form-floating mb-3" *ngIf="adminActivar">
                <label class="mb-0">
                    <h6 class="mb-0 text-sm">Tipo de voluntario</h6>
                </label>
                <p-dropdown [options]="usuarios" [(ngModel)]="usv" placeholder="Seleccione el tipo de voluntario"
                    optionLabel="uop" [style]="{'width': '100%'}" [showClear]="true"
                    (onChange)="onChangeV($event)">
                </p-dropdown>
            </div>
            <div class="form-floating mb-3">
                <label class="mb-0">
                    <h6 class="mb-0 text-sm">Nombre de Usuario</h6>
                </label>
                <input class="form-control" type="text" pKeyFilter="alphanum" maxlength="30" minlength="3"
                    id="usuarioNombre" placeholder="Nombre de Usuario" [(ngModel)]="usuarioNombre" name="usuarioNombre"
                    required>
            </div>
            <div class="form-floating mb-3">
                <label class="mb-0">
                    <h6 class="mb-0 text-sm">Contraseña</h6>
                </label>
                <br>
                <p-password [(ngModel)]="usuarioContrasenia" name="usuarioContrasenia" [toggleMask]="true"
                    placeholder="Contraseña del Usuario" maxlength="16" minlength="8" required>
                    <ng-template pTemplate="header">
                        <h6>Introduzca una contraseña</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="p-mt-2">Sugerencia</p>
                        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                            <li>Al menos una minúscula</li>
                            <li>Al menos una mayúscula</li>
                            <li>Al menos un número</li>
                            <li>Mínimo 8 caracteres</li>
                        </ul>
                    </ng-template>
                </p-password>
            </div>

            <div class="form-floating mb-3">
                <label class="mb-0">
                    <h6 class="mb-0 text-sm">Confirmar Contraseña</h6>
                </label>
                <br>
                <p-password [(ngModel)]="usuarioConfirContrasenia" name="usuarioContrasenia" [toggleMask]="true"
                    placeholder="Confirmar contraseña" maxlength="16" minlength="8" required></p-password>
            </div>
        </p-panel>
        <ng-template pTemplate="footer">
            <button pButton pRipple type="button" label="Aceptar" [ngStyle]="{backgroundColor:'var(--surface-100)'}"
                style="color: #008cff;" class="p-button-raised p-button-secondary p-button-text" icon="pi pi-send"
                (click)='ValidacionesExtra()'></button>
            <button pButton pRipple type="button" label="Cancelar" [ngStyle]="{backgroundColor:'var(--surface-100)'}"
                style="color: #b10000;" class="p-button-raised p-button-secondary p-button-text" icon="pi pi-times"
                (click)='displayV=false'></button>
        </ng-template>
    </p-dialog>

    <p-panel class="card" id="panel">
        <h2 class="text-center">Registro de Usuarios</h2>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Cédula</b></label>
            <input class="form-control" type="text" pKeyFilter="int" maxlength="13" minlength="10" id="cedula"
                placeholder="Cédula" [(ngModel)]="cedula" name="cedula" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Nombres</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="30" minlength="3"
                id="nombres" placeholder="Nombres" [(ngModel)]="nombres" name="nombres" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Apellidos</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="30" minlength="3"
                id="apellidos" placeholder="Apellidos" [(ngModel)]="apellidos" name="apellidos" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Direccion</b></label>
            <input class="form-control" type="text" [pKeyFilter]="noSpecial" maxlength="50" minlength="3" id="direccion"
                placeholder="Dirección" [(ngModel)]="direccion" name="direccion" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Número celular</b></label>
            <input class="form-control" type="text" pKeyFilter="int" id="celular" placeholder="Número celular"
                [(ngModel)]="celular" name="celular" minlength="7" maxlength="13" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Correo electrónico</b></label>
            <input class="form-control" type="email" maxlength="40" [pKeyFilter]="valCorreo" minlength="12" id="correo"
                placeholder="Correo Electrónico" [(ngModel)]="correo" name="correo" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Género</b></label>
            <p-dropdown [options]="generos" [(ngModel)]="genero" placeholder="Seleccione su género" optionLabel="gop"
                [style]="{'width': '100%'}" [showClear]="true" (onChange)="onChangeG($event)">
            </p-dropdown>
        </div>

        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Fecha de nacimiento</b></label>
            <input class="form-control" type="date" id="fechadeNacimiento" placeholder="Fecha de nacimiento"
                [(ngModel)]="persona.fechaNacimiento" name="fechadenacimiento" dateFormat="yy-mm-dd" maxlength="10"
                (change)="calcularedad($event)" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Edad</b></label>
            <input class="form-control" type="number" pKeyFilter="int" maxlength="3" minlength="1" id="edad"
                placeholder="Edad" [(ngModel)]="edadC" name="edad" required disabled>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>País de origen</b></label>
            <p-dropdown [options]="nacionalidades" [(ngModel)]="nacio" placeholder="Seleccione su nacionalidad"
                optionLabel="nop" [style]="{'width': '100%'}" [filter]="true" [showClear]="true" (onChange)="onChangeN($event)">
            </p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Discapacidad No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="discap"></p-inputSwitch>
        </div>
        <p-messages [(value)]="msgs"></p-messages>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Estado civil</b></label>
            <p-dropdown [options]="estadocivil" [(ngModel)]="estado" placeholder="Seleccione su estado civil"
                optionLabel="eop" [style]="{'width': '100%'}" [showClear]="true" (onChange)="onChangeEstado($event)">
            </p-dropdown>
        </div>
        <div>
            <button pButton pRipple type="button" label="Siguiente" [ngStyle]="{backgroundColor:'var(--surface-100)'}"
            style="color: #008cff;" class="p-button-raised p-button-secondary p-button-text" icon="pi pi-send"
            (click)='Validacion()'></button>
        </div>
        <div class="form-floating mb-3" *ngIf="cb">
            <label for="floatingInput"><b>Tipo de usuario</b></label>
            <p-dropdown [options]="listadoTipo" [(ngModel)]="tipo" placeholder="Seleccione el tipo de usuario"
                optionLabel="top" [style]="{'width': '100%'}" [showClear]="true" (onChange)="onChangeT($event)">
            </p-dropdown>
        </div>
    </p-panel>
</div>

<br>