<app-navbar-admin></app-navbar-admin>
<br />

<div _ngcontent-ygo-c128 class="container">
  <div _ngcontent-ygo-c128 class="modal-body">
    <div _ngcontent-kqj-c128 class="card-header">
      <div class="modal-header text-center">
        <h3 class="text-center"><b>Registro de Centros Medicos</b></h3>
      </div>
      <br />
      <div class="form-group">
        <label for="nombreCentroMedico"><b>Nombre del centro médico:</b></label>
        <input
          type="text"
          [(ngModel)]="selectedCentro.nombreCentroMedico"
          class="form-control"
          id="nombreCentroMedico"
          nombre="nombreCentroMedico"
          placeholder="Nombre"
        />
      </div>

      <div class="form-group">
        <label for="direccionCentroMedico"
          ><b>Dirección del centro médico:</b></label
        >
        <input
          type="text"
          [(ngModel)]="selectedCentro.direccionCentroMedico"
          class="form-control"
          id="direccionCentroMedico"
          nombre="direccionCentroMedico"
          placeholder="Dirección"
        />
      </div>
      <div class="form-group">
        <label for="telefonoCentroMedico"
          ><b>Teléfono del centro médico:</b></label
        >
        <input
          type="text"
          [(ngModel)]="selectedCentro.telefonoCentroMedico"
          class="form-control"
          id="telefonoCentroMedico"
          nombre="telefonoCentroMedico"
          placeholder="Telefono"
        />
      </div>

      <div class="container animated d-flex justify-content-center animated fadeIn">
        <i><span class="response" *ngIf="response_condicion == true">{{response_msg}}</span></i>
      </div>
      
      <br />
      <div class="card-footer">
        <div class="botones">
          <div class="row">
            <div class="col d-grid gap-2">
              <button class="btn btn-outline-success btnfooter" (click)="addOrEdit()" type="button" style="margin-left: 10px">
                Guardar <i class="pi pi-check"></i>
              </button>
            </div>

            <div class="col d-grid gap-2">
              <button class="btn btn-outline-primary btnfooter" type="submit" routerLink="/especialidad" style="margin-left: 10px">
                Agregar Especialidad <i class="pi pi-plus-circle"></i>
              </button>
            </div>

            <div class="col d-grid gap-2">
              <button class="btn btn-outline-primary btnfooter" (click)="genereport()" type="button" style="margin-left: 10px">
                Reporte <i class="pi pi-file-pdf"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="modal-header text-center">
        <h3 class="text-center"><b>Listado de Centros Medicos</b></h3>
      </div>
      <br />

      <p-table #dt [value]="centro" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,15,60]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="idCentroMedico">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            ID
                            <p-sortIcon field="idCentroMedico"></p-sortIcon>
                            <p-columnFilter type="text" field="idCentroMedico" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="nombreCentroMedico">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            NOMBRE
                            <p-sortIcon field="nombreCentroMedico"></p-sortIcon>
                            <p-columnFilter type="text" field="nombreCentroMedico" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="direccionCentroMedico">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            DIRECCIÓN
                            <p-sortIcon field="direccionCentroMedico"></p-sortIcon>
                            <p-columnFilter type="text" field="direccionCentroMedico" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="telefonoCentroMedico">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            TELÉFONO
                            <p-sortIcon field="telefonoCentroMedico"></p-sortIcon>
                            <p-columnFilter type="text" field="telefonoCentroMedico" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-c>
                <tr class="p-selectable-row">
                <td>{{ c.idCentroMedico }}</td>
              <td>{{ c.nombreCentroMedico }}</td>
              <td>{{ c.direccionCentroMedico }}</td>
              <td>{{ c.telefonoCentroMedico }}</td>
                <td>
                  <div class="cell" data-title="Acciones">
                    <input
                      class="btn-update"
                      (click)="openForEdit(c)"
                      type="image"
                      src="../../../assets/img/pencil.svg"
                      alt="Delete"
                    />
                    <input
                      class="btn-delete"
                      (click)="deleteCentro(c)"
                      type="image"
                      src="../../../assets/img/delete.svg"
                      alt="Delete"
                    />
                  </div>
                </td>
                </tr>
              </ng-template>
          </p-table>

    </div>
  </div>
</div>
