.active{
    background-color:aquamarine;
}
table{
    margin-left: 3%;
    margin-right: auto;
}
label{
    border-style: groove;
    margin-left: 5%;
    margin-right: 5%;
    height: 35px;
    width: 970px;
}
.btn-success{
    height: 35px;
    width: 95px;
}
.btn-danger{
    height: 35px;
    width: 95px;
}
