<app-navbar-admin></app-navbar-admin>
<br>
<div class="panelFamilia">
  <br><br>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <body class="body">
    <div class="container">
     <div class="modal-body ">  
     <div class="card">
           <div class="card-header mb-3">
            <h4>REGISTRO FAMILIARES</h4>
            </div>
  <form action="">
    <div class="input-group mb-3">
      <label name="cedulaPersonalbl" id="cedulaPersonalbl" class="cedulaPersonalbl">{{cedula_persona}}</label>
    </div>
    <div class="input-group mb-3">
      <label name="datosPersonalbl" id="datosPersonalbl" class="datosPersonalbl">{{nombreCompleto}}</label>
    </div>
    <hr>
    <div class="input-group mb-3">
      <p style="margin-left: 5%;"></p>
      <input [(ngModel)]="PersonasFami.cedula" name="cedula" id="cedula" style="margin-right: 5%;" type="text" class="form-control" placeholder="cedula">
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="PersonasFami.nombres" name="nombre" id="nombre" style="margin-left: 5%;" type="text" class="form-control" placeholder="Nombre">
      <p style="margin-left: 2%;"> </p>
      <input [(ngModel)]="PersonasFami.apellidos" name="apellido" id="apellido" style="margin-right: 5%;" type="text" class="form-control" placeholder="apellido">
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="PersonasFami.celular" name="celular" id="celular" style="margin-left: 5%;" type="text" class="form-control" placeholder="Celular">
      <p style="margin-left: 2%;"> </p>
      <input [(ngModel)]="PersonasFami.correo" name="Correo" id="Correo" style="margin-right: 5%;" type="text" class="form-control" placeholder="Correo">
    </div>
  
    <div class="input-group mb-3">
      <input [(ngModel)]="PersonasFami.fechaNacimiento" (change)="calcularedad($event)" name="fechaNacimiento" id="fechaNacimiento" style="margin-left: 5%;" type="date" class="form-control" placeholder="Fecha nacimiento">
      <p style="margin-left: 2%;"> </p>
      <input [(ngModel)]="PersonasFami.edad" name="edad" id="edad" style="margin-right: 2%;" type="number" class="form-control" placeholder="Edad">
      <select [(ngModel)]="PersonasFami.genero" name="genero" id="genero" style="margin-right: 2%;" type="text" class="form-control" placeholder="Genero">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
  
      <select [(ngModel)]="parentesco_familiar" name="parentesco" id="parentesco" style="margin-right: 5%;" type="text" class="form-control" placeholder="parentesco">
        <option value="Hijo">Hijo</option>
        <option value="Hija">Hija</option>
        <option value="Hermano">Hermano</option>
        <option value="Hermana">Hermana</option>
        <option value="Padre">Padre</option>
        <option value="Madre">Madre</option>
        <option value="Tío">Tío</option>
        <option value="Tía">Tía</option>
        <option value="Primo">Primo</option>
        <option value="Prima">Prima</option>
        <option value="Abuelo">Abuelo</option>
        <option value="Abuela">Abuela</option>
        <option value="Esposo/a">Esposo/a</option>
      </select>
  
    </div>
    <div class="input-group mb-3">
      <p style="margin-left: 5%;"></p>
     <button (click)="addArray()" type="submit" name="Agregar" id="Agregar" style="margin-right: 5%; background-color: chartreuse;" class="form-control">agregar</button>
    </div>
  </form>
  <div class="input-group">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">CEDULA</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">APELLIDOS</th>
          <th scope="col">CELULAR</th>
          <th scope="col">CORREO</th>
          <th scope="col">FECHA N.</th>
          <th scope="col">EDAD</th>
          <th scope="col">GENERO</th>
          <th scope="col">PARENTESCO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let hijos of hijosArray;let i= index">
          <td>{{i}}</td> 
          <td>{{hijos[0]}}</td>
          <td>{{hijos[1]}}</td>
          <td>{{hijos[2]}}</td>
          <td>{{hijos[3]}}</td>
          <td>{{hijos[4]}}</td>
          <td>{{hijos[5]}}</td>
          <td>{{hijos[6]}}</td>
          <td>{{hijos[7]}}</td>
          <td>{{hijos[8]}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="actualiza(i)">Actualizar</button>
            <button type="button" class="btn btn-danger" (click)="eliminar(i)">Eliminar</button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="input-group mb-3">
      <button  style="margin-left: 40%;" type="submit" (click)="addPerFami()">Guardar y Continuar</button>
  </div>
  </div>   
  </div>
  </div>
  </body>
  <br><br><br><br>
  </div>