<app-navbar-admin></app-navbar-admin>
<br>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<br><br>
<form >
<body class="body">
  <div class="container">
   <div class="modal-body ">  
   <div class="card">
         <div class="card-header mb-3">
          <h4>Lista Beneficiarios</h4>
          </div>
      <div class="container animated  d-flex justify-content-center animated fadeIn" id="contenedor">
        <p-table #dt [rows]="10"  [scrollable]="true" class="table table-responsive" 
            scrollHeight="450px" [paginator]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
            [rowHover]="true" [autoLayout]="true" [responsive]="true"
            [globalFilterFields]="['cedula','nombres','apellidos','direccion','celular','correo','fechaNacimiento','edad','numHijos','totalHijos','tipoVivienda','seguro','discapacidad','nacionalidad','estadoCivil','salario','fechaRegistro','adultoMayor','ViveOtros']" 
            [value]="datos">
            <ng-template pTemplate="caption">
                <div class="container" style="display: grid;">
                    <div align="left">
                        <button type="button" pButton pRipple icon="pi pi-file-pdf" 
                            class="p-button-danger p-mr-2" tooltipPosition="bottom" (click)="generarPDF()"></button>
                     </div>
                </div>
                   <div style="margin-left: 70%;">
                            <button type="button" pButton pRipple icon="pi pi-refresh" 
                                class="p-mr-2" tooltipPosition="bottom" (click)="actualizar()"></button>
                         </div>

                            <div class="container" style="display: grid;">
               
                <div align="right">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Buscar" />
                    </span>
                </div>
            </div>         
            </ng-template>
            <ng-template pTemplate="header">
                <tr >
                    <th pSortableColumn="cedula">Cédula
                        <p-sortIcon field="cedula"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombres">Nombre de Usuario
                    <p-sortIcon field="nombres"></p-sortIcon>
                    </th>
                    <th pSortableColumn="apellidos">Apellido
                    <p-sortIcon field="apellidos"></p-sortIcon>
                    </th>
                    <th pSortableColumn="direccion">Dirección
                    <p-sortIcon field="direccion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="celular">Celular
                    <p-sortIcon field="celular"></p-sortIcon>
                    </th>
                    <th pSortableColumn="correo">Correo
                    <p-sortIcon field="correo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fechaNacimiento">Fecha Nacimiento
                    <p-sortIcon field="fechaNacimiento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="edad">Edad
                    <p-sortIcon field="edad"></p-sortIcon>
                    </th>
                    <th pSortableColumn="numHijos">Numero Familires
                   <p-sortIcon field="numHijos"></p-sortIcon>
                    </th>
                    <th pSortableColumn="totalHijos">Numero Hijos
                   <p-sortIcon field="totalHijos"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tipoVivienda">Tipo de Vivienda
                   <p-sortIcon field="tipoVivienda"></p-sortIcon>
                    </th>
                    <th pSortableColumn="seguro">Seguro
                    <p-sortIcon field="seguro"></p-sortIcon>
                   </th>
                    <th pSortableColumn="discapacidad">Discapacidad
                    <p-sortIcon field="discapacidad"></p-sortIcon>
                   </th>
                    <th pSortableColumn="nacionalidad">Nacionalidad
                    <p-sortIcon field="nacionalidad"></p-sortIcon>
                   </th>
                    <th pSortableColumn="estadoCivil">Estado Civil
                    <p-sortIcon field="estadoCivil"></p-sortIcon>
                   </th>
                    <th pSortableColumn="salario">Salario
                    <p-sortIcon field="salario"></p-sortIcon>
                   </th>
                    <th pSortableColumn="fechaRegistro">Fecha de Registro
                    <p-sortIcon field="fechaRegistro"></p-sortIcon>
                   </th>
                    <th pSortableColumn="adultoMayor">Adulto Mayor
                    <p-sortIcon field="adultoMayor"></p-sortIcon>
                   </th>
                    <th pSortableColumn="ViveOtros">Vive con Otros
                    <p-sortIcon field="ViveOtros"></p-sortIcon>
                   </th>
                    <th pSortableColumn="ficha">Ficha
                    </th>
                    <th pSortableColumn="editar/eliminar">Editar/Eliminar
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr  class="p-selectable-row">
                    <td>{{user.cedula}}</td>
                    <td>{{user.nombres}}</td>
                    <td>{{user.apellidos}}</td>
                    <td>{{user.direccion}}</td>
                    <td>{{user.celular}}</td>
                    <td>{{user.correo}}</td>
                    <td>{{user.fechaNacimiento}}</td>
                    <td>{{user.edad}}</td>
                    <td>{{user.numeroFamiliares}}</td>
                    <td>{{user.numeroHijos}}</td>
                    <td>{{user.tipovivienda}}</td>
                    <td>{{user.seguro}}</td>
                    <td>{{user.discapacidad}}</td>
                    <td>{{user.nacionalidad}}</td>
                    <td>{{user.estacoCIVIL}}</td>
                    <td>{{user.salario}}</td>
                    <td>{{user.fecha}}</td>
                    <td>{{user.adulto}}</td>
                    <td>{{user.viveConOTROS}}</td>
                    <td><button class="p-button-danger" (click)="ingresoFicha(user.cedula)">Ficha</button></td>
                    <td>
                    <button class="p-button-danger">Editar</button>
                    <button class="p-button-danger">Eliminar</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
      </div>
  </div>   
</div>
</body>
<br><br><br><br>
</form>
