.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
.hijo{
    width:100%;
    height: 100%;
    border: 1px solid black;
    
}
#panel{
    align-items: left;
    border: 1px solid black;
}

th, td {
    width: 120px;
    word-wrap: break-word;
}

.prin{
    display: block;
    position: relative;
    height: 45px;
 }

.sec{
    display: block;
    position: absolute;
    right: 0px;
}
.ter{
    display: block;
    position: absolute;
    left: 0px;
}
