#panel{
    align-items: left;
    width: 1200px;
    border: 1px solid black;
}
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
#boton{
    width: 70%;
}
.c{
    display: flex;
    place-content: center;
}
.prin{
    display: block;
    position: relative;
}
.sec{
    display: block;
    position: absolute;
    left: 2%;
}
.ter{
    display: block;
    position: absolute;
    right: 2%;
}
.dia{
    display: block;
    justify-content: center;
    position: relative;
    width: 100%;
}
.b{
    display: flex;
    justify-content: center;
    width: 100%;
}