<app-navbar-admin></app-navbar-admin>
<div class="container hoja">
    <div class="titulo" >
      <div class="input-group mb-3">
        <h1>Hoja de Registro</h1>
      </div>
      <button type="button" style="margin: 10px; align-items: center;" class="btn btn-primary" (click)="recargar()">Actualizar</button>
    </div>
    <div class="estructura">
  
      <div class="input-group mb-3">
        <label class="fechalabel" for="">Fecha:</label>
        <input [(ngModel)]="fichaS.fechaRegistro" id="fecha"  class="fecha" type="text"  [ngModel]="this.fichaS.fechaRegistro | date:'yyyy-MM-dd'" disabled>
      </div>
      <div class="input-group mb-3">
        <label class="labelNombre" for="">Nombres:</label>
        <input  value="{{nombreCompleto}}" class="Nombres" id="Nombres" type="text" disabled>
      </div>
      <div class="input-group mb-3">
        <label class="labelDireccion" for="">Dirección Exacta:</label>
        <textarea [(ngModel)]="persona.direccion" class="Direccion" id="Direccion" type="text" disabled></textarea>
      </div>
      <div class="input-group mb-3">
        <label class="labelTelefono" for="">Telefono:</label>
        <input [(ngModel)]="persona.celular" class="Telefono" id="Telefono" type="text" disabled>
        <label class="labelNacionalidad" for="">Nacionalidad:</label>
        <input [(ngModel)]="persona.nacionalidad" class="Nacionalidad" id="Nacionalidad" type="text" disabled>
      </div>
      <div class="input-group mb-3">
        <label class="labelDiscapacidad" for="">Discapacidad:</label>
        <input  class="Discapacidad" id="Discapacidad" type="text" value="{{discapacidad}}" disabled>
        <label class="labelAdultosM" for="">Adultos Mayores:</label>
        <input  class="AdultosM" id="AdultosM" type="text" value="{{adultoMayor}}" disabled>
        <label  class="labelEstadoC" for="">Estado Civil:</label>
        <input [(ngModel)]="persona.estado_civil" class="EstadoC" id="EstadoC" type="text" disabled>  
      </div>
      <div class="input-group mb-3">
        <label class="labelNoIntegrantes" for="">Nro. Integrantes de Familia:</label>
        <input [(ngModel)]="familiares.numHijos" class="NoIntegrantes" id="NoIntegrantes" type="text" disabled>
        <label class="labelNomP" for="">Nombre de la pareja o Esposo/a:</label>
        <input class="NomPareja" id="NomPareja" type="text" value="{{NomPareja}}" disabled>
      </div>
      <div class="input-group mb-3">
        <label class="labelNacionalidad" for="">Nombre y edad de los familiares:</label>
      </div>
      
      <div class="input-group mb-3">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombres</th>
            <th scope="col">Edad</th>
            <th scope="col">Genero</th>
            <th scope="col">Parentesco</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hijos of listaFamiliares;let i=index">
            <th>{{i}}</th>
            <td>{{hijos[0]}}</td>
            <td>{{hijos[1]}} {{hijos[2]}}</td>
            <td>{{hijos[6]}}</td>
            <td>{{hijos[7]}}</td>
            <td>{{hijos[8]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="input-group mb-1">
      <label class="labelViveFami" for="">Vive con otros familiares:</label>
    </div>
    <div class="input-group mb-3">
        <input  class="ViveFami" id="ViveFami" type="text" value="{{viveConOtros}}" disabled>
    </div>
    <div class="input-group mb-1">
      <label  class="labelSituEcono" for="">Situación Economica:</label>
    </div>
    <div class="input-group mb-3">
      <textarea [(ngModel)]="fichaS.situacionEconomica" class="SituEcono" id="SituEcono" type="text" disabled></textarea>
    </div>
    <div class="input-group mb-1">
      <label  class="labelViviPro" for="">Posee vivienda Propia:</label>
    </div>
    <div class="input-group mb-3">
        <input [(ngModel)]="fichaS.tipoVivienda" class="ViviPro" id="ViviPro" type="text" disabled>
    </div>
    <div class="input-group mb-1">
      <label class="labelNotas" for="">Notas:</label>
    </div>
    <div class="input-group mb-2">
      <textarea  class="Notas1" name="Notas1" id="Notas1" style="margin-left: 1%;margin-right: 5%;width: 18cm;height: 2cm;"type="text" class="form-control" value="{{nota1}}" ></textarea>        
    </div>
    <div class="input-group mb-3">
      <textarea class="Notas2" name="Notas2" id="Notas2" style="margin-left: 1%;margin-right: 5%;width: 12cm;height: 2cm;"type="text" class="form-control" value="{{nota2}}" ></textarea>
    </div>
    <div class="input-group mb-3" id="acepta">
      <label for="" class="lblACP">Acepta:</label>
      <p> </p>
      <label for=""> Si:.........</label>
      <label for=""> No:.........</label>
    </div>
    <div class="input-group ">
      <label style="margin-left: 20%;margin-right: 2%;" for="">__________________________________</label>
      <label style="margin-right: 20%;" for="">__________________________________</label>
    </div>
    <div class="input-group mb-3">
      <label style="margin-left: 25%;margin-right: 10%;" for="">Entrevistado/Usuario</label>
      <label style="margin-right: 20%;" for="">entrevistado/representante de la organización</label>
    </div>
    <br><br>
    <div class="input-group mb-1">
      <label class="labelNotas" for="">NOTAS EXTRAS</label>
    </div>
    <div class="input-group mb-3">
      <textarea class="NotasExtras" name="NotasExtras" id="NotasExtras" style="margin-left: 1%;margin-right: 5%;width: 12cm;height: 2cm;"type="text" class="form-control"></textarea>
    </div>

    <button type="button" style="margin: 10px;" class="btn btn-primary" (click)="generarPDF()" >Generar Ficha</button>
  </div>
  </div> 