<app-navbar-admin></app-navbar-admin>
<br />
<h2 class="text-center">Ficha socioeconómica</h2>
<div class="cont">
  <div class="hijo">
    <h4 class="text-center">Hoja de registro</h4>
    <div class="grid-container">
      <p class="t">Cédula:</p>
      <p>{{persona.cedula}}</p>
      <p class="t">Nombre completo:</p>
      <p>{{persona.nombres}} {{persona.apellidos}}</p>
      <p class="t">Dirección:</p>
      <p>{{persona.direccion}}</p>
      <p class="t">Teléfono:</p>
      <p>{{persona.celular}}</p>
      <p class="t">Nacionalidad:</p>
      <p>{{persona.nacionalidad}}</p>
      <p class="t">Correo electrónico:</p>
      <p>{{persona.correo}}</p>
      <p class="t">Fecha de nacimiento:</p>
      <p>{{persona.fechaNacimiento}}</p>
      <p class="t">Edad:</p>
      <p>{{persona.edad}}</p>
      <p class="t">Discapacidad:</p>
      <p>{{convertirBooleanos(ficha.discapacidad)}}</p>
      <p class="t">Tipo de discapacidad:</p>
      <p>{{ficha.tipo_discapacidad}}</p>
      <p class="t">Porcentaje de discapacidad intelectual:</p>
      <p>{{ficha.porc_disc_mental}}%</p>
      <p class="t">Descripción de discapacidad intelectual:</p>
      <p>{{ficha.descrip_disc_mental}}</p>
      <p class="t">Porcentaje de discapacidad física:</p>
      <p>{{ficha.porc_disc_fisica}}%</p>
      <p class="t">Descripción de discapacidad física:</p>
      <p>{{ficha.descrip_disc_fisica}}</p>
      <p class="t">Estado civil:</p>
      <p>{{persona.estado_civil}}</p>
      <p class="t">Pareja:</p>
      <p>{{convertirBooleanos(ficha.pareja)}}</p>
      <p class="t">Número de familiares:</p>
      <p>{{familiares.length}}</p>
      <p class="t">Número de hijos:</p>
      <p>{{numHijos}}</p>
      <p class="t">Adulto mayor:</p>
      <p>{{convertirBooleanos(ficha.adultoMayor)}}</p>
      <p class="t">Vive con otros:</p>
      <p>{{convertirBooleanos(ficha.viveConOtros)}}</p>
      <p class="t">Situación economica:</p>
      <p>{{ficha.situacionEconomica}}</p>
      <p class="t">Seguro:</p>
      <p>{{convertirBooleanos(ficha.seguro)}}</p>
      <p class="t">Tipo de vivienda:</p>
      <p>{{ficha.tipoVivienda}}</p>
      <p class="t">Descripción de la vivienda:</p>
      <p>{{ficha.descripcionVivienda}}</p>
      <p class="t">Salario:</p>
      <p>{{ficha.salario}}</p>
      <p class="t">Madre soltera:</p>
      <p>{{convertirBooleanos(ficha.madreSoltera)}}</p>
      <p class="t">Recibe bono:</p>
      <p>{{convertirBooleanos(ficha.recibebono)}}</p>
      <p class="t">Cantidad que recibe por bono:</p>
      <p>{{ficha.cantidadbono}}</p>
      <p class="t">Asistencias:</p>
      <p>{{asistencias.length}}</p>
      <p class="t">Observaciones:</p>
      <p>{{observaciones.length}}</p>
      <p class="t">Fecha de registro:</p>
      <p>{{ficha.fechaRegistro}}</p>
      <p class="t">Enfermedades:</p>
      <p>{{ficha.enfermedades}}</p>
    </div>
    <div class="tabla">
      <h5 class="text-center">Familiares</h5>
      <p-table [value]="familiares" styleClass="p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Cédula</th>
            <th>Parentesco</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Celular</th>
            <th>Correo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fam>
          <tr>
            <td>{{fam.cedulaFamiliar}}</td>
            <td>{{fam.parentesco}}</td>
            <td>{{fam.nombreF}}</td>
            <td>{{fam.apellidoF}}</td>
            <td>{{fam.celularF}}</td>
            <td>{{fam.correo}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="tabla">
      <h5 class="text-center">Notas</h5>
      <p>{{nota1}}</p>
      <p>{{nota2}}</p>
    </div> 
    <div class="grid-container1">
      <p>Acepta:</p>
      <p> </p>
      <p> </p>
      <p>Si: ......... No: .........</p>
      <p>____________________________</p>
      <p>____________________________</p>
      <p> </p>
      <p>Entrevistado</p>
      <p>Representante</p>
      <p> </p>
      <p> </p>
    </div>
    <div class="prin">
      <div class="sec">
          <button pButton type="button" label="Imprimir"
          class="p-button-outlined" (click)='generarPDF()'></button>
      </div>
      <div class="ter">
          <button pButton type="button" label="Cancelar"
          class="p-button-danger p-button-outlined" (click)='cancelar()'></button>
      </div>
    </div>
    <br>
  </div>
</div>