h4{
    align-items: center;
}
.hoja{
    background-color:#f4fafe;
}
.container{
    margin-top: 1cm;
}
.fechalabel{
    margin-right: 4%;
    margin-left: 1%;
}
.labelNombre{
    margin-left: 1%;
}
.Nombres{
    margin-left: 2%;
    width: 18cm;
}

.labelDireccion{
 margin-left: 1%;  
 margin-right: 1%; 
}

.Direccion{
    width: 22cm;
    height: 2cm;
}
.labelTelefono{
    margin-left: 1%;
    margin-right: 1%;
}
.labelNacionalidad{
    margin-left: 1%;
    margin-right: 1%;
}
.labelDiscapacidad{
    margin-left: 1%;
    margin-right: 1%;
}
.labelAdultosM{
    margin-left: 1%;
    margin-right: 1%;
}
.labelEstadoC{
    margin-left: 1%;
    margin-right: 1%;
}
.labelViveFami{
    margin-left: 1%;
}
.ViveFami{
    margin-left: 1%;
}
.labelSituEcono{
    margin-left: 1%;
}
.SituEcono{
    margin-left: 1%;
    width: 25.5cm;
    height: 2cm;
}
.labelViviPro{
    margin-left: 1%;
}
.ViviPro{
    margin-left: 1%;
}
.labelNotas{
    margin-left: 1%;
}
.Notas1{
    margin-left: 1%;
}
.Notas2{
    margin-left: 1%;
}
.lblACP{
    margin-left: 1%;
}
table{
    margin-left: 10%;
}