<app-navbar-super-admin></app-navbar-super-admin>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="title">Lista de las Citas Medicas agendadas</h2>
    </div>
    <div class="panel-body">
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th>Descripción Cita Médica</th>
                    <th>Fecha Registro</th>
                    <th>Fecha de la Cita Medica</th>
                    <th>Paciente</th>
                    <th>Acompañante</th>
                    <th>Mensaje que se enviará</th>
                    <th>Trabajador de la Fundación</th>
                    <th>Especialidad</th>
                    <th>Nota</th>
                    <th>Centro Médico</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of citaMedica | async">
                    <td>
                        {{ u.descripcionCitaMedica}}
                    </td>
                    <td>
                        {{ u.fechaRegistro }}
                    </td>
                    <td>
                        {{ u.fechaCitaMedica }}
                    </td>
                    <td>
                        {{ u.id_paciente }}
                    </td>
                    <td>
                        {{ u.id_acompaniante }}
                    </td>
                    <td>
                        {{ u.mensaje }}
                    </td>
                    <td>
                        {{ u.id_trabajadorFundacion }}
                    </td>
                    <td>
                        {{ u.especialidad }}
                    </td>
                    <td>
                        {{ u.nota }}
                    </td>
                    <td>
                        {{ u.idCentroMedico }}
                    </td>

                    <td>
                        <div class="cell" data-title="Acciones">
                            <input class="btn-update" type="image" src="../../../assets/img/pencil.svg" alt="Delete">
                            <input class="btn-delete" type="image" src="../../../assets/img/delete.svg" alt="Delete">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>