<app-navbar-admin></app-navbar-admin>
<br>
<div class="container animated  d-flex justify-content-center fadeIn">
    <p-panel class="card" id="panel">
        <h2 class="text-center">Editar Beneficiarios</h2>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Número de cédula</b></label>
            <input class="form-control" type="text" pKeyFilter="int" maxlength="13" minlength="10" id="Ced" #Ced
                placeholder="Número de cédula" [(ngModel)]="persona.cedula" name="persona.cedula" disabled>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Nombres *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="50" minlength="3"
                id="persona.nombres" placeholder="Nombres" [(ngModel)]="persona.nombres" name="persona.nombres"
                required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Apellidos *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="50" minlength="3"
                id="persona.apellidos" placeholder="Apellidos" [(ngModel)]="persona.apellidos" name="persona.apellidos"
                required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Dirección</b></label>
            <input class="form-control" type="text" [pKeyFilter]="noSpecial" maxlength="70" minlength="3"
                id="persona.direccion" placeholder="Dirección" [(ngModel)]="persona.direccion" name="persona.direccion">
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Número celular o convencional</b></label>
            <input class="form-control" type="text" pKeyFilter="int" minlength="7" maxlength="13" id="persona.celular"
                placeholder="Número celular o convencional" [(ngModel)]="persona.celular" name="persona.celular">
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Correo electrónico</b></label>
            <input class="form-control" type="email" maxlength="50" [pKeyFilter]="valCorreo" minlength="12"
                id="persona.correo" placeholder="Correo electrónico" [(ngModel)]="persona.correo" name="persona.correo">
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Género *</b></label>
            <p-dropdown #dd [options]="generos" [(ngModel)]="genero" placeholder="{{persona.genero}}" optionLabel="gop"
                [style]="{'width': '100%'}" pTooltip="{{persona.genero}}" (onChange)="onChangeG($event)">
            </p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Fecha de nacimiento *</b></label>
            <input class="form-control" type="date" id="fechadeNacimiento" placeholder="Fecha de nacimiento"
                [(ngModel)]="persona.fechaNacimiento" name="fechadenacimiento" dateFormat="yy-mm-dd" maxlength="10"
                (change)="calcularedad($event)" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Edad</b></label>
            <input class="form-control" type="number" pKeyFilter="int" maxlength="3" minlength="1" id="edad"
                placeholder="Edad" [(ngModel)]="persona.edad" name="edad" pTooltip="{{persona.edad}}" disabled>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>País de orígen *</b></label>
            <p-dropdown [options]="nacionalidades" [(ngModel)]="nacio" placeholder="{{persona.nacionalidad}}"
                optionLabel="nop" [style]="{'width': '100%'}" [filter]="true" pTooltip="{{persona.nacionalidad}}"
                (onChange)="onChangeN($event)">
            </p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Estado civil *</b></label>
            <p-dropdown [options]="estadocivil" [(ngModel)]="estado" placeholder="{{persona.estado_civil}}"
                optionLabel="eop" [style]="{'width': '100%'}" pTooltip="{{persona.estado_civil}}"
                (onChange)="onChangeE($event)">
            </p-dropdown>
        </div>
        <p-messages [(value)]="msgs"></p-messages>
    </p-panel>
</div>
<br>
<div class="container animated  d-flex justify-content-center fadeIn">
    <p-panel class="card" header="Esta información no es obligatoria" [toggleable]="true" id="panel">
        <h2 class="text-center">Registro de Familiares</h2>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Número de cédula *</b></label>
            <input class="form-control" type="text" pKeyFilter="int" maxlength="13" minlength="10"
                id="familiares.cedulaFamiliar" placeholder="Número de cédula" [(ngModel)]="familiares.cedulaFamiliar"
                name="familiares.cedulaFamiliar" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Parentesco familiar *</b></label>
            <p-dropdown [options]="parentescos" [(ngModel)]="parentesco" placeholder="Seleccione el parentesco familiar"
                optionLabel="par" [style]="{'width': '100%'}" dataKey="value">
            </p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Nombres *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="50" minlength="3"
                id="familiares.nombreF" placeholder="Nombres" [(ngModel)]="familiares.nombreF" name="familiares.nombreF"
                required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Apellidos</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="50" minlength="3"
                id="familiares.apellidoF" placeholder="Apellidos" [(ngModel)]="familiares.apellidoF"
                name="familiares.apellidoF" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Número celular</b></label>
            <input class="form-control" type="text" pKeyFilter="int" id="familiares.celularF"
                placeholder="Número celular" [(ngModel)]="familiares.celularF" name="familiares.celularF" minlength="7"
                maxlength="13">
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Correo electrónico</b></label>
            <input class="form-control" type="email" maxlength="40" [pKeyFilter]="valCorreo" minlength="12"
                id="familiares.correo" placeholder="Correo electrónico" [(ngModel)]="familiares.correo"
                name="familiares.correo">
        </div>
        <p-messages [(value)]="msgs"></p-messages>
        <div align="center">
            <button pButton type="button" label="Agregar" class="p-button-outlined p-button-success"
                icon="pi pi-plus-circle" (click)='agregarFamiliar()'></button>
        </div>
        <br>
        <b>
            <p>Para editar un campo de esta tabla de clic sobre el mismo, luego presione el botón "Guardar" ubicado al
                final de la página</p>
        </b>
        <p-table [value]="familyArray" styleClass="p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Cédula</th>
                    <th>Parentesco</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Eliminar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fam>
                <tr>
                    <td>{{fam.cedulaFamiliar}}</td>
                    <td>{{fam.parentesco}}</td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="fam.nombreF">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{fam.nombreF}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="fam.apellidoF">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{fam.apellidoF}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="fam.celularF">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{fam.celularF}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="fam.correo">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{fam.correo}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-button-outlined" (click)="eliminarFamiliar(fam)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <br>
    </p-panel>
</div>
<br>
<div class="container animated  d-flex justify-content-center fadeIn">
    <p-panel class="card" id="panel">
        <h2 class="text-center">Ficha Socioeconómica</h2>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Discapacidad No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="discap" (onChange)="habilitarDiscap($event)"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3" *ngIf="estadoDiscapacidad == true">
            <label for="floatingInput"><b>Tipo de discapacidad *</b></label>
            <p-dropdown #dis [options]="tipodiscpa" [(ngModel)]="tipodis" placeholder="{{ficha.tipo_discapacidad}}"
                optionLabel="dis" [style]="{'width': '100%'}" pTooltip="{{ficha.tipo_discapacidad}}"
                (onChange)="habilitarTipoDiscap($event)" dataKey="value">
            </p-dropdown>
        </div>
        <div class="form-floating mb-3" *ngIf="habiFisica == true">
            <label for="floatingInput"><b>Porcentaje de discapacidad física *</b></label>
            <input class="form-control" type="number" pKeyFilter="int" maxlength="2" minlength="1"
                id="ficha.porc_disc_fisica" placeholder="Porcentaje de discapacidad física"
                [(ngModel)]="ficha.porc_disc_fisica" name="ficha.porc_disc_fisica"
                pTooltip="{{ficha.porc_disc_fisica}}">
        </div>
        <div class="form-floating mb-3" *ngIf="habiFisica == true">
            <label for="floatingInput"><b>Descripción de la discapacidad física *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" minlength="3"
                id="ficha.descrip_disc_fisica" placeholder="Descripción de la discapacidad física"
                pTooltip="{{ficha.descrip_disc_fisica}}" [(ngModel)]="ficha.descrip_disc_fisica"
                name="ficha.descrip_disc_fisica" required>
        </div>
        <div class="form-floating mb-3" *ngIf="habiMental == true">
            <label for="floatingInput"><b>Porcentaje de discapacidad intelectual *</b></label>
            <input class="form-control" type="number" pKeyFilter="int" maxlength="2" minlength="1"
                id="ficha.porc_disc_mental" placeholder="Porcentaje de discapacidad intelectual"
                [(ngModel)]="ficha.porc_disc_mental" name="ficha.porc_disc_mental"
                pTooltip="{{ficha.porc_disc_mental}}">
        </div>
        <div class="form-floating mb-3" *ngIf="habiMental == true">
            <label for="floatingInput"><b>Descripción de la discapacidad intelectual *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" minlength="3"
                pTooltip="{{ficha.descrip_disc_mental}}" id="ficha.descrip_disc_mental"
                placeholder="Descripción de la discapacidad mental" [(ngModel)]="ficha.descrip_disc_mental"
                name="ficha.descrip_disc_mental" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Situación económica *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="50" minlength="3"
                id="situacionEconomica" placeholder="Situación económica" [(ngModel)]="ficha.situacionEconomica"
                name="ficha.situacionEconomica" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Tipo de vivienda *</b></label>
            <p-dropdown [options]="viviendas" [(ngModel)]="vivienda" placeholder="{{ficha.tipoVivienda}}"
                optionLabel="viv" [style]="{'width': '100%'}" pTooltip="{{ficha.tipoVivienda}}"
                (onChange)="onChangeV($event)">
            </p-dropdown>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Descripción de la vivienda *</b></label>
            <input class="form-control" type="text" [pKeyFilter]="blockSpecial" maxlength="60" minlength="3"
                id="descripcionVivienda" placeholder="{{ficha.descripcionVivienda}}"
                [(ngModel)]="ficha.descripcionVivienda" name="ficha.descripcionVivienda" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Salario mensual</b></label>
            <input class="form-control" type="text" pKeyFilter="int" maxlength="4" minlength="1" id="salario"
                placeholder="Salario mensual" [(ngModel)]="ficha.salario" name="ficha.salario" required>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>¿Cuenta con seguro de vida? No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="ficha.seguro"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>¿Es adulto mayor? No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="ficha.adultoMayor"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>¿Vive con más personas? No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="ficha.viveConOtros"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>¿Recibe bono de desarrollo humano? No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="ficha.recibebono" (onChange)="habilitarCantidadBono($event)"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3" *ngIf="recibebono == true">
            <label for="floatingInput"><b>Cantidad que recibe por bono de desarrollo humano</b></label>
            <input class="form-control" type="text" pKeyFilter="int" maxlength="13" minlength="10"
                id="ficha.cantidadbono" placeholder="Cantidad que recibe por bono de desarrollo humano"
                [(ngModel)]="ficha.cantidadbono" name="ficha.cantidadbono">
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>¿Tiene pareja? (Conviviente) No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="ficha.pareja"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>¿Es madre soltera? No | Si</b></label>
            <br>
            <p-inputSwitch [(ngModel)]="ficha.madreSoltera"></p-inputSwitch>
        </div>
        <div class="form-floating mb-3">
            <label for="floatingInput"><b>Enfermedades catastróficas</b></label>
            <br>
            <p-chips [(ngModel)]="ficha.enfermedades" separator=","></p-chips>
        </div>
        <p-messages [(value)]="msgs"></p-messages>
        <div class="prin">
            <div class="sec">
                <button pButton type="button" label="Guardar" class="p-button-outlined"
                    (click)='guardarTodo()'></button>
            </div>
            <div class="ter">
                <button pButton type="button" label="Cancelar" class="p-button-danger p-button-outlined"
                    (click)='cancelar()'></button>
            </div>
        </div>
    </p-panel>
</div>
<br>

<p-dialog header="Exito" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <p class="m-0">{{texto}}</p>
    <ng-template pTemplate="footer">
        <p class="m-0">Gracias</p>
    </ng-template>
</p-dialog>