<app-navbar-admin></app-navbar-admin>
<br>
<h2 class="title">Gestión de Especialidades</h2>
  <div class="form-group">
    <label for="nombreEspecialidad">Nombre de la Especialidad:</label>
    <input type="text" [(ngModel)]="selectedEspecialidad.nombreEspecialidad" class="form-control" id="nombreEspecialidad" nombre="nombreEspecialidad" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="centroMedico">Seleccione el Centro Médico</label>
    <div class="dropdown show">
            <select [(ngModel)]="nombreSeCe" class="btn btn-secondary dropdown-toggle" id="nomcentro" forControlName="nomcentro">
              <option *ngFor="let c of centro" class="dropdown-item">
                 {{c.nombreCentroMedico}}
             </option>
            </select>
    </div>
<br> 

    <button class="btn btn-primary" (click)="addOrEdit()">
    Guardar
    </button>

<br>
<br>


<h2 class="title">Lista de Especialidades</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">CENTRO MÉDICO</th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let e of especialidad" class = "list-group-item-action">
      <td>{{e.idEspecialidad}}</td>
      <td>{{e.nombreEspecialidad}}</td>
      <td>{{e.centroMedico}}</td>
      <td>
        <div class="cell" data-title="Acciones">
            <input class="btn-update" (click)="openForEdit(e)" type="image" src="../../../assets/img/pencil.svg" alt="Delete">
            <input class="btn-delete" (click)="deleteEspecialidad(e)" type="image" src="../../../assets/img/delete.svg" alt="Delete">
        </div>
      </td>
    </tr>

  </tbody>
</table>
